2025/07/whatsapp messages collector.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T23:17:16.241Z",
  "id": "GPqi04t0IH1joj5f",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "whatsapp messages collector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c19a55b5-53ee-4cc9-8d05-12c52f54cb59",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6fe02df1-f93b-4f35-9358-2ba42a30ebd8",
      "name": "Webhook",
      "webhookId": "c19a55b5-53ee-4cc9-8d05-12c52f54cb59"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv900657.hstgr.cloud/webhook/45fad95b-8400-4064-a330-04daaaa0ab0e",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "4543b943-428a-4fc1-9ff3-4790a20a81f2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://n8n.srv900657.hstgr.cloud/webhook/18be501a-669a-486f-a5ba-5678cf55e571",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        140
      ],
      "id": "7a92d6f0-be8f-4182-b358-e71c68dfff75",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv900657.hstgr.cloud",
            "user-agent": "GREEN-API",
            "content-length": "2224",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "104.248.252.93",
            "x-forwarded-host": "n8n.srv900657.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f972a7a7ae2b",
            "x-real-ip": "104.248.252.93",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "typeWebhook": "incomingMessageReceived",
            "instanceData": {
              "idInstance": 7105243399,
              "wid": "972559737194@c.us",
              "typeInstance": "whatsapp"
            },
            "timestamp": 1752584886,
            "idMessage": "3EB0461D912D498BEC8A8C",
            "senderData": {
              "chatId": "972505708855@c.us",
              "chatName": "הגולן הנודד - דורון זינגר",
              "sender": "972505708855@c.us",
              "senderName": "הגולן הנודד - דורון זינגר",
              "senderContactName": ""
            },
            "messageData": {
              "typeMessage": "documentMessage",
              "fileMessageData": {
                "downloadUrl": "https://do-media-7105.fra1.digitaloceanspaces.com/7105243399/3c683562-79c7-4d7e-b46a-62553c23e643.pdf",
                "caption": "15.07.2025-12_28_22.pdf",
                "fileName": "15.07.2025-12_28_22.pdf",
                "jpegThumbnail": "/9j/4AAQSkZJRgABAQAAAQABAAD/4gHYSUNDX1BST0ZJTEUAAQEAAAHIAAAAAAQwAABtbnRyUkdCIFhZWiAH4AABAAEAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAACRyWFlaAAABFAAAABRnWFlaAAABKAAAABRiWFlaAAABPAAAABR3dHB0AAABUAAAABRyVFJDAAABZAAAAChnVFJDAAABZAAAAChiVFJDAAABZAAAAChjcHJ0AAABjAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEJYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9YWVogAAAAAAAA9tYAAQAAAADTLXBhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb/2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD/2wBDAQMDAwQDBAgEBAgQCwkLEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBD/wAARCAAwACIDASIAAhEBAxEB/8QAGwABAAIDAQEAAAAAAAAAAAAAAAEFAwQGAgn/xAAoEAABBAEDAgYDAQAAAAAAAAABAAIDBBEFEiExUQYTU2GBkWSSwfD/xAAWAQEBAQAAAAAAAAAAAAAAAAAAAgH/xAAbEQEAAwADAQAAAAAAAAAAAAAAAhFRARITQf/aAAwDAQACEQMRAD8A+qaKtsXY4pnRmvZcW8EsjJH3lYJ78bo9rYrsZccBzYckH5JSpYXHVlLdqQPDJ7UMbiMgPeASPlaGou0nVoWwu1wwNDgd1W75Tj7bmnOFVW9N0y/KJr9KazI0bWOloxvLR2G4Hjk/ZWpY0nSIHxOr+HopCZBI98tVjDuaQQeI3Z6DtjAwt4jLn4j0i7CvWFeCOATTSCNgZukeXOdgYySep90WZFi1Rd1mnUndBJQsSFvVzIcjp3WofE2n7S52jXDj8fP9V+YoycuY0nvhPJi9Jn6hXccR1lrnrHiqCOJxg0ew6Ug7GyRFrS7HAJAOB/sFUMOp6rPPX3VZdriCWmbPBI55i/oXf+TF6TP1CkRRjpG0fCXHDrLXpERQsREQEUA5GVKAiIg//9k=",
                "isAnimated": false,
                "mimeType": "application/pdf",
                "forwardingScore": 0,
                "isForwarded": false
              }
            }
          },
          "webhookUrl": "https://n8n.srv900657.hstgr.cloud/webhook/c19a55b5-53ee-4cc9-8d05-12c52f54cb59",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n_yohai_backup",
  "repo_owner": "doronsin@gmail.com",
  "repo_path": "https://github.com/doronsin/n8n_yohai_backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-14T23:17:16.248Z",
      "updatedAt": "2025-07-14T23:17:16.248Z",
      "role": "workflow:owner",
      "workflowId": "GPqi04t0IH1joj5f",
      "projectId": "H3Elz2yRMoyJBjo9"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1752567880,
        "possibleDuplicates": [
          "1980d2f9dcccd61e"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-01T09:34:16.000Z",
  "versionId": "c5250bc8-9c63-4882-a97a-dd7ce170c85e"
}