2025/07/youtube crawler copy.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-07-15T13:03:09.096Z",
  "id": "PrHt5pja16J1Xm96",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "youtube crawler copy",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c7754e22-3507-41d6-b71e-b5d43b743853",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,id"
            },
            {
              "name": "q",
              "value": "lego"
            },
            {
              "name": "maxResults",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        0
      ],
      "id": "ecbb5006-abbc-4d44-8df5-eecd03296a02",
      "name": "HTTP Request",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "EVE5V5sp1RUxl7ug",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,id"
            },
            {
              "name": "q",
              "value": "lego"
            },
            {
              "name": "maxResults",
              "value": "50"
            },
            {
              "name": "pageToken",
              "value": "={{ $json.nextPageToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        -20
      ],
      "id": "a2089798-df05-48cb-b664-365710be5f0b",
      "name": "HTTP Request1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "EVE5V5sp1RUxl7ug",
          "name": "YouTube account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n_yohai_backup",
  "repo_owner": "doronsin@gmail.com",
  "repo_path": "https://github.com/doronsin/n8n_yohai_backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-15T13:03:09.100Z",
      "updatedAt": "2025-07-15T13:03:09.100Z",
      "role": "workflow:owner",
      "workflowId": "PrHt5pja16J1Xm96",
      "projectId": "H3Elz2yRMoyJBjo9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-15T13:03:15.000Z",
  "versionId": "b0491176-7248-42bb-9c5e-a3c83d877618"
}