2025/07/youtube crawler.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-07-15T09:04:01.024Z",
  "id": "FI3na0ISIRW2oTH4",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "youtube crawler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7b3703ff-4b07-448e-8909-5d79dcd81854",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,id"
            },
            {
              "name": "q",
              "value": "lego"
            },
            {
              "name": "maxResults",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        0
      ],
      "id": "e809de08-db64-4a1a-8c46-a018b5df3ce3",
      "name": "HTTP Request",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "EVE5V5sp1RUxl7ug",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,id"
            },
            {
              "name": "q",
              "value": "lego"
            },
            {
              "name": "maxResults",
              "value": "50"
            },
            {
              "name": "pageToken",
              "value": "={{ $json.nextPageToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        -20
      ],
      "id": "77a9581d-625e-4fe9-a578-cba11273e4bb",
      "name": "HTTP Request1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "EVE5V5sp1RUxl7ug",
          "name": "YouTube account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n_yohai_backup",
  "repo_owner": "doronsin@gmail.com",
  "repo_path": "https://github.com/doronsin/n8n_yohai_backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-15T09:04:01.027Z",
      "updatedAt": "2025-07-15T09:04:01.027Z",
      "role": "workflow:owner",
      "workflowId": "FI3na0ISIRW2oTH4",
      "projectId": "H3Elz2yRMoyJBjo9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-15T14:17:12.000Z",
  "versionId": "ecbf2d93-d75e-4515-b123-cdefd60d09b5"
}