2025/07/יועץ משכנתא הדגמה.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "הודעות מדורון",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "בדיקה האם אישור עקרוני": {
      "main": [
        [
          {
            "node": "אישור עקרוני נמצא",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "אישור עקרוני לא טוב",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "חלץ מידע מקובץ": {
      "main": [
        [
          {
            "node": "בדיקה האם אישור עקרוני",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "הורד קובץ": {
      "main": [
        [
          {
            "node": "חלץ מידע מקובץ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "אישור עקרוני נמצא": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "שליחת מסמכים במייל",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "אישור עקרוני נמצא",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "אישור עקרוני לא טוב",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "הודעות מדורון": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "הורד קובץ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-15T13:03:19.341Z",
  "id": "wcFKVN54owxzV9LY",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "יועץ משכנתא הדגמה",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "45fad95b-8400-4064-a330-04daaaa0ab0e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        50
      ],
      "id": "64873772-3de4-4948-9680-927987d9c356",
      "name": "Webhook",
      "webhookId": "45fad95b-8400-4064-a330-04daaaa0ab0e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9c2bd51-a32c-4554-8d79-e5c964f57afd",
              "leftValue": "={{ $json.text }}",
              "rightValue": "\"אישור עקרוני\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "50bbe7ee-aef8-4363-977a-5e3796fa164f",
              "leftValue": "={{ $json.info.Title }}",
              "rightValue": "אישור עקרוני",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1240,
        -25
      ],
      "id": "956776ff-f423-41bb-b811-e51a12ca6002",
      "name": "בדיקה האם אישור עקרוני"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        950,
        -25
      ],
      "id": "aa751adc-3711-4cef-b4fc-a46e01acc6be",
      "name": "חלץ מידע מקובץ"
    },
    {
      "parameters": {
        "url": "={{ $json.body.messageData.fileMessageData.downloadUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -100
      ],
      "id": "af5c2a65-a04d-47e6-b712-1f73dfb2fb3e",
      "name": "הורד קובץ"
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook').item.json.body.senderData.chatId }}",
        "message": "אישור עקרוני התקבל בהצלחה!",
        "options": {}
      },
      "type": "n8n-nodes-whatsapp-green-api.greenApi",
      "typeVersion": 1,
      "position": [
        1460,
        25
      ],
      "id": "5dd8bf08-b20a-45f1-a35e-db7478a4f99d",
      "name": "אישור עקרוני נמצא",
      "credentials": {
        "greenApi": {
          "id": "F1XILsGwIxBAmfvB",
          "name": "Green account Doron Singer"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook').item.json.body.senderData.chatId }}",
        "message": "המסמך ששלחת אינו אישור עקרוני. נסה שנית!",
        "options": {}
      },
      "type": "n8n-nodes-whatsapp-green-api.greenApi",
      "typeVersion": 1,
      "position": [
        1460,
        225
      ],
      "id": "8c622ad3-9100-4318-b047-8e5543c5033f",
      "name": "אישור עקרוני לא טוב",
      "credentials": {
        "greenApi": {
          "id": "F1XILsGwIxBAmfvB",
          "name": "Green account Doron Singer"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ys@avivm.com",
        "subject": "אישור עקרוני של לקוח התקבל בהצלחה!",
        "message": "=<p align=\"right\">\nשם לקוח:  {{ $('Webhook').item.json.body.senderData.senderName }}<br>\nנייד לקוח: {{ $('Webhook').item.json.body.senderData.chatId.replace(/^972(\\d{2})(\\d{3})(\\d{4})@c\\.us$/, '0$1-$2-$3') }}<br>\nמצ\"ב מסמך האישור העקרוני\n</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1900,
        -50
      ],
      "id": "c6d40627-4655-4402-9580-05397a1e344f",
      "name": "שליחת מסמכים במייל",
      "webhookId": "7ef09c91-1a00-473d-a551-e34580bdb4f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "b76W3uWlTd8ubMeM",
          "name": "doron's gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1680,
        -50
      ],
      "id": "b754731f-fa76-422f-b851-7ef45c5f38e4",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "={{ $json.body.messageData.fileMessageData.downloadUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        275
      ],
      "id": "5363c78c-ca0c-4c63-b7ad-013316230d39",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "check if the following image contains the words \"אישור עקרוני\". output ONLY \"yes\" or \"no\"",
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        880,
        275
      ],
      "id": "86ff927e-d9fa-40e2-a3c0-32c12040bdf9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        495
      ],
      "id": "8f00adcf-c569-42fc-8a07-22c20cecc68c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tJ29wEPojismA7hG",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d406e6c0-81e4-4222-8ee7-dd5243f5e4bf",
              "leftValue": "={{ $json.output }}",
              "rightValue": "={{\"yes\\n\"}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1240,
        275
      ],
      "id": "6a3d611d-d793-4e0e-b48a-4154ba7f6bcd",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.messageData.fileMessageData.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5e9f9051-6136-479d-b051-4a450e3e1304"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cccde894-89cd-4a21-a841-f27f7b49589b",
                    "leftValue": "={{ $json.body.messageData.fileMessageData.mimeType }}",
                    "rightValue": "image/jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        50
      ],
      "id": "ca37b2e4-9a3e-464e-aa17-96d1baeec5e9",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "67777453-9dab-4514-8666-b1f038c1ef87",
              "leftValue": "={{ $json.body.senderData.chatId }}",
              "rightValue": "972505708855@c.us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        220,
        50
      ],
      "id": "1b08f6da-fb16-410b-999e-e22a63d401e3",
      "name": "הודעות מדורון"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv900657.hstgr.cloud",
            "user-agent": "axios/1.8.3",
            "content-length": "2224",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.srv900657.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f972a7a7ae2b",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "typeWebhook": "incomingMessageReceived",
            "instanceData": {
              "idInstance": 7105243399,
              "wid": "972559737194@c.us",
              "typeInstance": "whatsapp"
            },
            "timestamp": 1752584886,
            "idMessage": "3EB0461D912D498BEC8A8C",
            "senderData": {
              "chatId": "972505708855@c.us",
              "chatName": "הגולן הנודד - דורון זינגר",
              "sender": "972505708855@c.us",
              "senderName": "הגולן הנודד - דורון זינגר",
              "senderContactName": ""
            },
            "messageData": {
              "typeMessage": "documentMessage",
              "fileMessageData": {
                "downloadUrl": "https://do-media-7105.fra1.digitaloceanspaces.com/7105243399/3c683562-79c7-4d7e-b46a-62553c23e643.pdf",
                "caption": "15.07.2025-12_28_22.pdf",
                "fileName": "15.07.2025-12_28_22.pdf",
                "jpegThumbnail": "/9j/4AAQSkZJRgABAQAAAQABAAD/4gHYSUNDX1BST0ZJTEUAAQEAAAHIAAAAAAQwAABtbnRyUkdCIFhZWiAH4AABAAEAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAACRyWFlaAAABFAAAABRnWFlaAAABKAAAABRiWFlaAAABPAAAABR3dHB0AAABUAAAABRyVFJDAAABZAAAAChnVFJDAAABZAAAAChiVFJDAAABZAAAAChjcHJ0AAABjAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEJYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9YWVogAAAAAAAA9tYAAQAAAADTLXBhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb/2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD/2wBDAQMDAwQDBAgEBAgQCwkLEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBD/wAARCAAwACIDASIAAhEBAxEB/8QAGwABAAIDAQEAAAAAAAAAAAAAAAEFAwQGAgn/xAAoEAABBAEDAgYDAQAAAAAAAAABAAIDBBEFEiExUQYTU2GBkWSSwfD/xAAWAQEBAQAAAAAAAAAAAAAAAAAAAgH/xAAbEQEAAwADAQAAAAAAAAAAAAAAAhFRARITQf/aAAwDAQACEQMRAD8A+qaKtsXY4pnRmvZcW8EsjJH3lYJ78bo9rYrsZccBzYckH5JSpYXHVlLdqQPDJ7UMbiMgPeASPlaGou0nVoWwu1wwNDgd1W75Tj7bmnOFVW9N0y/KJr9KazI0bWOloxvLR2G4Hjk/ZWpY0nSIHxOr+HopCZBI98tVjDuaQQeI3Z6DtjAwt4jLn4j0i7CvWFeCOATTSCNgZukeXOdgYySep90WZFi1Rd1mnUndBJQsSFvVzIcjp3WofE2n7S52jXDj8fP9V+YoycuY0nvhPJi9Jn6hXccR1lrnrHiqCOJxg0ew6Ug7GyRFrS7HAJAOB/sFUMOp6rPPX3VZdriCWmbPBI55i/oXf+TF6TP1CkRRjpG0fCXHDrLXpERQsREQEUA5GVKAiIg//9k=",
                "isAnimated": false,
                "mimeType": "application/pdf",
                "forwardingScore": 0,
                "isForwarded": false
              }
            }
          },
          "webhookUrl": "https://n8n.srv900657.hstgr.cloud/webhook/45fad95b-8400-4064-a330-04daaaa0ab0e",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n_yohai_backup",
  "repo_owner": "doronsin@gmail.com",
  "repo_path": "https://github.com/doronsin/n8n_yohai_backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-15T13:03:19.343Z",
      "updatedAt": "2025-07-15T13:03:19.343Z",
      "role": "workflow:owner",
      "workflowId": "wcFKVN54owxzV9LY",
      "projectId": "H3Elz2yRMoyJBjo9"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1752567880,
        "possibleDuplicates": [
          "1980d2f9dcccd61e"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-01T08:58:39.000Z",
  "versionId": "f83e985c-0eb8-4436-af15-99a8e37f3ff5"
}