2025/08/מחירון דלק.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "message didn't sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message didn't sent": {
      "main": [
        [
          {
            "node": "green api disconnected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-01T08:59:36.372Z",
  "id": "buxXoL844fiRQWyf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "מחירון דלק",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        112
      ],
      "id": "176be70a-5140-465d-b282-db9a66d4edb3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43e592dd-5715-49b9-9db0-df9a604a87a4",
              "name": "output.דלק",
              "value": "={{ Math.round(($json.soler.delek.fullService - 2.22) * 100) / 100\n }}",
              "type": "number"
            },
            {
              "id": "845fc5e9-e424-4ff2-9f78-c98b5e4730de",
              "name": "output.סונול",
              "value": "={{ Math.round(($json.soler.sonol.fullService - 3.55) * 100) / 100\n }}",
              "type": "number"
            },
            {
              "id": "f84bbdd6-28b6-44f4-a488-3fd6f0e730ca",
              "name": "output.דור אלון",
              "value": "={{ Math.round(($json.soler.dorAlon.selfService - 10.74) * 100) / 100  }}",
              "type": "number"
            },
            {
              "id": "5395af30-9e6d-4e9d-b091-f13c24cddcfe",
              "name": "output.Ten",
              "value": "={{ Math.round(($json.soler.ten.fullService - 2.10) * 100) / 100\n }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        64
      ],
      "id": "16f2f7ca-42bf-459f-b4ad-293d6cd1ca18",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "972505708855@c.us",
        "message": "={{ Object.entries($json.output).map(([key, value]) => `${key} ${value}`).join('\\n'); }}",
        "options": {}
      },
      "type": "n8n-nodes-whatsapp-green-api.greenApi",
      "typeVersion": 1,
      "position": [
        1104,
        48
      ],
      "id": "a455f6ef-6249-4349-b817-d3b7665bb83b",
      "name": "Send a message",
      "credentials": {
        "greenApi": {
          "id": "F1XILsGwIxBAmfvB",
          "name": "Green account Doron Singer"
        }
      }
    },
    {
      "parameters": {
        "url": "https://script.googleusercontent.com/macros/echo?user_content_key=AehSKLhlPyI_sT2L0hVWREH22KQTP2gQAXDwrvofOOGqWt2WqyocNvrPFAAQsxd-RsqlJpLx37vAYglsVF3hbIaTPWDmEEKSr5erQDEQ9RXI6FmOx9hBptwNC9QcsJZtPlB6736kXu4QBCn2PYwLqWA33tt0YXXS9MGthYSxWTEaGmt5oBK2EAVczqdMdBGyA1PJUNBh1SwcMijeROHOiqbFkQouNz6Is7uoXOZyFYYblVIAk8hs0RguN1LLeWvm3e8yBA_uwZpS3r3Jwi-MN76QrJ2OD2i9apGpABdrO92U&lib=M68d1XduiZxDe6t41mKvCl2nvFnqmIV2g",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        112
      ],
      "id": "7b50f8c0-64db-4e52-ae65-f95de530c426",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7105.api.greenapi.com/waInstance7105243399/getMessage/197bab1a04ad43f485caab615c49ed782ba377668e1d402187",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatId",
              "value": "972505708855@c.us"
            },
            {
              "name": "idMessage",
              "value": "={{ $json.idMessage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        48
      ],
      "id": "c6b905e3-93c6-47ea-8d4e-c30a62bf8120",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        48
      ],
      "id": "e056ffc4-44e2-45fa-9d81-385fd8c98d26",
      "name": "Wait",
      "webhookId": "fd8759e7-1bef-473c-a0d8-4ca071976cdf"
    },
    {
      "parameters": {
        "sendTo": "doronsin@gmail.com",
        "subject": "Gas Prices - Green API disconnected!",
        "message": "=Gas Prices - Green API disconnected!\nGas Prices:\n{{ $('Edit Fields').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1936,
        -48
      ],
      "id": "c2764d7b-802c-4649-8052-eff839b5ac05",
      "name": "green api disconnected",
      "webhookId": "02b1029f-8f01-4d20-b1df-0b2143fff25d",
      "credentials": {
        "gmailOAuth2": {
          "id": "b76W3uWlTd8ubMeM",
          "name": "doron's gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c1d5178-80e2-4339-aca6-ee95f737fce4",
              "leftValue": "={{ $json.statusMessage }}",
              "rightValue": "=sent",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1728,
        48
      ],
      "id": "87f8419b-1da8-45c2-b940-4c55f8ea7d48",
      "name": "message didn't sent"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-09-01T07:00:55.094+03:00",
          "Readable date": "September 1st 2025, 7:00:55 am",
          "Readable time": "7:00:55 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "September",
          "Day of month": "01",
          "Hour": "07",
          "Minute": "00",
          "Second": "55",
          "Timezone": "Asia/Jerusalem (UTC+03:00)"
        }
      }
    ]
  },
  "repo_name": "n8n_yohai_backup",
  "repo_owner": "doronsin@gmail.com",
  "repo_path": "https://github.com/doronsin/n8n_yohai_backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-01T08:59:36.376Z",
      "updatedAt": "2025-08-01T08:59:36.376Z",
      "role": "workflow:owner",
      "workflowId": "buxXoL844fiRQWyf",
      "projectId": "H3Elz2yRMoyJBjo9"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-01T08:54:50.000Z",
  "versionId": "7181523c-ce80-41ce-8e85-e080bcf3a522"
}