2025/09/facebook ads collector.json
{
  "active": true,
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "get new searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Add the results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "call facebook ads library api": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "get new searches": {
      "main": [
        [
          {
            "node": "call facebook ads library api",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add the results": {
      "main": [
        [
          {
            "node": "Change to Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-02T10:57:13.518Z",
  "id": "Su92WKpbNiPwvV4B",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "facebook ads collector",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please analyze the following ad text and determine if it is relevant to the case topic defined in the system prompt. Provide your response only in the required JSON format.\n\nAd Text to Analyze:\n\"\"\"\n{{ $json.content }}\n\"\"\" ",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a highly specialized legal analyst AI. Your sole purpose is to analyze the text of a Facebook advertisement and determine if it is soliciting plaintiffs for a lawsuit specifically related to the following topic: ethylene oxide.\n\nYou must be very strict in your analysis. The ad is only relevant if it meets TWO primary conditions:\n1.  It is a direct solicitation for plaintiffs (e.g., uses phrases like \"you may be entitled to compensation,\" \"see if you qualify,\" \"free case review,\" \"join the lawsuit\").\n2.  It is explicitly about the case topic provided above.\n\n**What to IGNORE (classify as `false`):**\n* Ads soliciting plaintiffs for **any other type of lawsuit**, even if it's a class action.\n* General law firm branding or ads for different legal fields (DUI, family law, etc.).\n* News articles or general information about the case topic that are not a direct call for plaintiffs.\n\n**Output Instructions:**\nYou MUST respond ONLY with a valid JSON object. Do not include any text, explanation, or markdown formatting outside of the JSON structure.\n\nThe JSON object must have the following structure:\n{\n  \"is_relevant\": boolean,\n  \"reason\": \"string\"\n}\n\n**Field Definitions:**\n* `\"is_relevant\"`: `true` ONLY if the ad is a direct solicitation for plaintiffs for the specified case topic. Otherwise, `false`.\n* `\"reason\"`: A brief, one-sentence explanation for your decision.\n\n**Example Scenario:**\nIf the specified case topic is \"Ethylene Oxide Lawsuit\"...\n\n**Example of a relevant ad text:**\n\"If you lived near a sterilization plant and have been diagnosed with cancer, you may have been exposed to toxic Ethylene Oxide. Our law firm is helping victims get the compensation they deserve. Contact us now for a free, confidential consultation.\"\n\n**Example of your required JSON output for the ad above:**\n{\n  \"is_relevant\": true,\n  \"reason\": \"The ad directly solicits plaintiffs who were exposed to Ethylene Oxide and diagnosed with cancer.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        720,
        0
      ],
      "id": "dd04dae9-4bdb-4d79-af03-d1f7d84581ab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        688,
        224
      ],
      "id": "780084de-61f7-4d6d-80e9-fbd05b64198a",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "SkDB7d4cTA6Ij48A",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"is_relevant\": true,\n  \"reason\": \"reason string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        816,
        224
      ],
      "id": "ca241799-10df-4945-a7b5-c8ee27e8cde3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        896,
        432
      ],
      "id": "fc9bd1b3-8981-46de-b4e2-c954d770fe50",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "SkDB7d4cTA6Ij48A",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1184,
        176
      ],
      "id": "6ea9e73d-f85f-45fa-a7fa-05ecc9224412",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6fe804f8-5cf6-4786-a105-8c9cfe0f106b",
              "leftValue": "={{ $json.output.is_relevant }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1408,
        176
      ],
      "id": "c738c2ac-488d-4300-b561-93d6f7443a56",
      "name": "Filter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "appkh3HLufQXTQobV",
          "mode": "id"
        },
        "tableId": {
          "__rl": true,
          "value": "tbleCVG05cud7NuZ7",
          "mode": "id"
        },
        "triggerField": "Created Time",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        16,
        176
      ],
      "id": "c178ab9e-ffa2-4467-a6fb-8e7119b61b24",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "JlAYjU5MbvudmnjX",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v23.0/ads_archive",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ad_reached_countries",
              "value": " ALL"
            },
            {
              "name": "access_token",
              "value": "EAAIziuBu4nkBPa0ZBvMVIWsey3xa1OeQab3O29qJs9IDsDHyoOzZCur2ZCZBhvFq9QxvxUjnZB4uzEZCsyd24UqWWTZATTWWgMtZBiOFwcDz0xayh3tWHAf7XzugZBaNE3EnOitKrRsLdTzZCZB4iDQUe4Pb4t0tgTDiUe2O5BXLb0iryygkZC2PZCihbZCoIHYf3NbAZDZD"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        176
      ],
      "id": "3f327239-8f9a-41a4-b5d3-9c1d3aa4b84a",
      "name": "call facebook ads library api"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7de0468e-ce52-4662-8168-4b2fb82ac964",
              "leftValue": "={{ $json.fields.Status }}",
              "rightValue": "New",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        240,
        176
      ],
      "id": "5644f4ce-0ae9-417f-a5a9-91d35d6e0e90",
      "name": "get new searches"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appkh3HLufQXTQobV",
          "mode": "list",
          "cachedResultName": "Automated Ad Finder",
          "cachedResultUrl": "https://airtable.com/appkh3HLufQXTQobV"
        },
        "table": {
          "__rl": true,
          "value": "tbleCVG05cud7NuZ7",
          "mode": "list",
          "cachedResultName": "Searches",
          "cachedResultUrl": "https://airtable.com/appkh3HLufQXTQobV/tbleCVG05cud7NuZ7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Status": "⏳ Processing"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Search ID",
              "displayName": "Search ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Facebook Search Term",
              "displayName": "Facebook Search Term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Case Topic",
              "displayName": "Case Topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "⏳ Processing",
                  "value": "⏳ Processing"
                },
                {
                  "name": "✅ Done",
                  "value": "✅ Done"
                },
                {
                  "name": "New",
                  "value": "New"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Results",
              "displayName": "Results",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "# of Results",
              "displayName": "# of Results",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "All Ad Links",
              "displayName": "All Ad Links",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        -16
      ],
      "id": "662e6f8e-12bf-45e0-b36d-5b359f74cb78",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "JlAYjU5MbvudmnjX",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appkh3HLufQXTQobV",
          "mode": "list",
          "cachedResultName": "Automated Ad Finder",
          "cachedResultUrl": "https://airtable.com/appkh3HLufQXTQobV"
        },
        "table": {
          "__rl": true,
          "value": "tbleCVG05cud7NuZ7",
          "mode": "list",
          "cachedResultName": "Searches",
          "cachedResultUrl": "https://airtable.com/appkh3HLufQXTQobV/tbleCVG05cud7NuZ7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable Trigger').item.json.id }}",
            "Status": "✅ Done"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Search ID",
              "displayName": "Search ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Facebook Search Term",
              "displayName": "Facebook Search Term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Case Topic",
              "displayName": "Case Topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "⏳ Processing",
                  "value": "⏳ Processing"
                },
                {
                  "name": "✅ Done",
                  "value": "✅ Done"
                },
                {
                  "name": "New",
                  "value": "New"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Results",
              "displayName": "Results",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "# of Results",
              "displayName": "# of Results",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "All Ad Links",
              "displayName": "All Ad Links",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1840,
        176
      ],
      "id": "cda57c14-4465-443a-a6b8-10678653a437",
      "name": "Change to Done",
      "credentials": {
        "airtableTokenApi": {
          "id": "JlAYjU5MbvudmnjX",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appkh3HLufQXTQobV",
          "mode": "list",
          "cachedResultName": "Automated Ad Finder",
          "cachedResultUrl": "https://airtable.com/appkh3HLufQXTQobV"
        },
        "table": {
          "__rl": true,
          "value": "tblFeTlRuKKBMtaQF",
          "mode": "list",
          "cachedResultName": "Results",
          "cachedResultUrl": "https://airtable.com/appkh3HLufQXTQobV/tblFeTlRuKKBMtaQF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI Reason": "={{ $json.output.reason }}",
            "Ad Text": "={{ $json.content }}",
            "Search": "={{ [$('Airtable Trigger').item.json.id] }}",
            "Ad Link": "={{ $('call facebook ads library api').item.json['ad link'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ad Link",
              "displayName": "Ad Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI Reason",
              "displayName": "AI Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ad Text",
              "displayName": "Ad Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Search",
              "displayName": "Search",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Search Case Topic",
              "displayName": "Search Case Topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Search Facebook Term",
              "displayName": "Search Facebook Term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1632,
        176
      ],
      "id": "1c9f694a-649f-41c7-b5fc-be7cb0858f28",
      "name": "Add the results",
      "credentials": {
        "airtableTokenApi": {
          "id": "JlAYjU5MbvudmnjX",
          "name": "Airtable account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n_yohai_backup",
  "repo_owner": "doronsin@gmail.com",
  "repo_path": "https://github.com/doronsin/n8n_yohai_backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-02T10:57:13.527Z",
      "updatedAt": "2025-09-02T10:57:13.527Z",
      "role": "workflow:owner",
      "workflowId": "Su92WKpbNiPwvV4B",
      "projectId": "H3Elz2yRMoyJBjo9"
    }
  ],
  "staticData": {
    "node:Airtable Trigger": {
      "lastTimeChecked": "2025-09-03T09:10:51Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-03T09:10:51.000Z",
  "versionId": "346dab40-7d65-48f1-a3ec-6df429ea9d9b"
}